@font-face {
    font-family: 'allessa_personal_useregular';
    src: url('../fonts/alessa/allessapersonaluse-4prl-webfont.woff2') format('woff2'),
    url('../fonts/alessa/allessapersonaluse-4prl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bite_chocolateregular';
    src: url('../fonts/bite_choco/bitechocolate-2rgl-webfont.woff2') format('woff2'),
    url('../fonts/bite_choco/bitechocolate-2rgl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
    --font-sz-errors: clamp(.5rem, .7rem + 0.65vw, 1.5rem);
}
/** {*/
/*    border: 1px dashed hotpink;*/
/*}*/
/* error messages */
.error {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    text-shadow: rgba(37, 37, 37, 0.37) 1px 1px 1px;
}
.errorNum {
    font-size: var(--font-sz-errors);
}
.errorText {
    font-size: calc(var(--font-sz-errors)/1.5) ;
    text-shadow: rgba(37, 37, 37, 0.37) 1px 1px 1px;
}
.errorh1 {
    justify-self: center;
    align-self: center;
    margin: 3rem;
    text-align: center;
    font-family: bite_chocolateregular, cursive;
    color: var(--text-clr-heading);
    font-size: 2.5rem;
    line-height: 1.5;
    text-shadow: rgba(37, 37, 37, 0.37) 1px 1px 3px;
}
.errorh1:hover {
    text-shadow: rgba(37, 37, 37, 0.37) 1px 1px 1px;
}

/* gopher  adapted from https://codepen.io/stivaliserna/pen/BaNROrw */
.ohDear {
    display: flex;
    align-self: start;
    justify-content: center;
    margin: calc((50vh - 19.5rem)/2) 0;
    width: calc(100vw - 344px);
}
.lost {
    display: grid;
    width: 65%;
}
.thisguy {
    position: relative;
    align-self: start;
    width: 100%;
}
.gopherHolder {
    position: absolute;
    right: 0;
    bottom: 1rem;
    z-index: 999;
}
.gopher {
    height: 34rem;
    width: 34rem;
}
#eyeballs, #eyeballs img, #eyelids {
    position: absolute;
}
#eyeballs {
    width: 120px;
    height: 60px;
    right: 12.1rem;
    bottom: 14.6rem;
}
#eyeballs img {
    height: 60px;
    width: 60px;
}
#eyelids {
    height: 24rem;
    width: 24rem;
    right: 5rem;
    bottom: 10.7rem;
}
#shadow {
    position: absolute;
    height: 34rem;
    width: 34rem;
    right: 0;
    bottom: 15rem;
}

.gopherHolder,
.left-arm,
.right-arm,
.right-foot,
.left-foot,
.belly,
.shadow,
.left-eye,
.right-eye,
.mouth,
.tongue {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.left-eye,
.right-eye {
    animation-name: blink;
}

@keyframes blink {
    0%,
    18%,
    100% {
        visibility: hidden;
    }
    15% {
        visibility: visible;
    }
}

.mouth,
.tongue {
    animation-name: shout;
}

@keyframes shout {
    0%,
    18%,
    100% {
        visibility: hidden;
    }
    10% {
        visibility: visible;
    }
}

.gopherHolder {
    animation-name: jump;
}

@keyframes jump {
    0%,
    6%,
    18%,
    100% {
        transform: translateY(0);
    }
    2% {
        transform: translateY(5%);
    }
    13% {
        transform: translateY(-30%);
    }
}

.right-arm {
    animation-name: rotateRightArm;
    transform-box: fill-box;
}

@keyframes rotateRightArm {
    0%,
    6%,
    18%,
    100% {
        transform: rotate(0deg);
    }
    13% {
        transform: rotate(-120deg) translateX(-50%);
    }
}

.left-arm {
    animation-name: rotateLeftArm;
    transform-box: fill-box;
    transform-origin: top right;
}

@keyframes rotateLeftArm {
    0%,
    6%,
    18%,
    100% {
        transform: rotate(0deg);
    }
    13% {
        transform: rotate(120deg) translateX(50%);
    }
}

.right-foot {
    animation-name: bendRightFoot;
    transform-origin: top left;
}

@keyframes bendRightFoot {
    0%,
    15%,
    100% {
        transform: translateY(0);
    }
    6% {
        transform: translateY(-3%);
    }
    12% {
        transform: translateY(5%) rotate(-5deg);
    }
}


.left-foot {
    animation-name: bendLeftFoot;
    transform-origin: top right;
}

@keyframes bendLeftFoot {
    0%,
    15%,
    100% {
        transform: translateY(0);
    }
    6% {
        transform: translateY(-3%);
    }
    12% {
        transform: translateY(5%) rotate(5deg);
    }
}

.belly {
    animation-name: bounce;
}

@keyframes bounce {
    0%,
    10%,
    15%,
    18%,
    100% {
        transform: translateY(0);
    }
    6% {
        transform: translateY(1%);
    }
    12% {
        transform: translateY(-2%);
    }
    16% {
        transform: translateY(1%);
    }
}

.shadow {
    animation-name: scaleShadow;
    transform-origin: center center;
    transform: scaleX(1);
}

@keyframes scaleShadow {
    0%,
    8%,
    15%,
    100% {
        transform: scaleX(1)
    }
    12% {
        transform: scaleX(0.65)
    }
}