:root {
  --main-bg-grad: linear-gradient(155deg, rgb(14 6 42), rgb(1, 52, 37));
  --main-bg-clr: rgb(14, 6, 42);
  --card-bg: rgb(124, 124, 124);
  --accent: rgb(0, 128, 92);
  --text-clr: rgb(231, 237, 241);
  --text-clr-dark: rgb(0 0 0 / 0.8);
  --bg-clr-select_header: rgb(0 0 0 / .4);
  --bg-clr-select_main: #fff;
  --border-rad: 0.4rem;
    --box-shadow: 0 0.25 1rem rgb(0 0 0 / .5);
    --main-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    --button-shadow: 1px 1px 0px rgba(74, 74, 74, 0.5), inset -1px -1px 5px 2px rgba(0 0 0 / 0);
    --button-hover-shadow: 4px 4px 5px -1px rgba(0,0,0,0.45);
    --button-pressed-shadow: inset 0 4px 3px -2px rgba(0 0 0 / .4), inset 0 -1px 1px -1px rgba(0 0 0  / .3);
  /* fonts */
  --font-sz-main: clamp(1rem, 1.2rem + 0.65vw, 1.6rem);
  --font-sz-cards: clamp(.8rem, 1rem + 0.65vw, 1.2rem);
    --font-sz-ascii: clamp(.1rem, .4rem + 0.65vw, .5rem);
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-accent: 'Kdam Thmor Pro', sans-serif;
  /* motion color racing */
  --mcr-yellow: rgb(226, 192, 68);
  --mcr-blue: rgb(31, 32, 65);
  --mcr-cyan: rgb(81, 163, 163);
  --mcr-red: rgb(159, 52, 45);
  --mcr-grad: linear-gradient(50deg, var(--mcr-red), var(--mcr-yellow), var(--mcr-cyan), var(--mcr-blue));
    /* select */
    --select-border: var(--mcr-cyan);
    --select-focus: var(--select-border);
    --select-arrow: var(--select-border);
    --button-rad: 20%;
    --border-clr: rgba(0,0,0,.2);
    /* colours for colorized text */
    --red: #e13939;
    --green: rgba(39, 204, 39, 0.91);
    --blue: rgb(53, 86, 193);
    --yellow: #fbed34;
}

html {
    font-size: 62.5%;
}

body {
  margin: 0 auto;
  background: var(--main-bg-grad);
  background-attachment: fixed;
  color: var(--text-clr) ;
  font-family: var(--font-primary);
  font-size: var(--font-sz-main);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
h1 {
    margin: 1rem 0;
}

.wrapper {
    height: 100dvh;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.wrapper::-webkit-scrollbar {
    display: none;
}
main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: var(--mcr-grad);
    padding: 1rem;
    border-radius: var(--border-rad);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}
.frosted {
    width: 100%;
    height: 95%;
    background: linear-gradient(135deg,
    rgba(255,255,255,0.2) 0%,
    rgba(233,253,255,0.2) 22%,
    rgba(255,255,255,0.2) 47%,
    rgba(230,255,255,0.2) 71%,
    rgba(255,255,255,0.2) 100%);
    border: 1px inset rgba(255, 255, 255, .4);
    box-shadow: var(--main-shadow);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: var(--border-rad);
}
.elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modifiers {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}

/*.elements {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

a {
  text-decoration: none!important;
  color: var(--text-clr)
}

select {
    border-radius: 0;
    padding: .6rem;
}
.select {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
#generate {
    font-size: var(--font-sz-cards);
    padding: .5rem 1rem;
}
.output {
    width: 95%;
}
#generator {
    /*width: 95%;*/
    display: flex;
    flex-direction: column;
}

/* ----------  form styling ----------*/
select, label, input {
    color: dimgray;
    border: 0;
}
.card {
    display: flex;
    flex-direction: column;
    margin : 1rem 0;
}
.textarea {
    height: 3.5rem;
    background: #fff;
    padding: 0.5rem 1rem;
    color: dimgray;
}
.label {
    padding: .4rem 1rem;
    border-radius: var(--border-rad) var(--border-rad) 0 0;
    background-color: var(--bg-clr-select_header);
    color: #fff;
}
#browse {
    width: 75%;
}
#fileSubmit {
    width: 100%;
    height: 28px;
}
.labelwbtn {
    padding: .5rem;
    color: #fff;
}
.whiteLabel {
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem .3rem;
    background: #fff;
}
.whiteLabel * {
    margin: 0 .5rem;
}
.inWhiteLabelContent {
    color: dimgray;
}
.whiteLabel:hover [class^="inWhiteLabel"]:nth-child(1) {
    color: #252525;
    cursor: pointer;
}
.whiteLabel:hover [class^="inWhiteLabel"]:nth-child(2):before {
    background-size: 16px 16px;
    transform: rotate(-180deg);
    transition: .3s ease;
}
.inWhiteLabelReset {
    position: relative;
    width: 24px;
    height: 24px;
    background: rgba(0 0 0 / .4);
    box-shadow: inset 0 5px 15px rgba(0 0 0 / .4), inset 0 -1px 1px rgba(255 255 255 / .4);
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s ease;
}
.inWhiteLabelReset:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -0px;
    left: -0px;
    background: rgba(0 0 0 / 0) url("../icons/rotate-ccw.svg") no-repeat 5px 5px;
    background-size: 14px 14px;
    transition: .3s ease;
}
/*.reset:hover:before {*/
/*    !*top: -1px;*!*/
/*    !*left: -1px;*!*/
/*    background-size: 16px 16px;*/
/*    transform: rotate(-180deg);*/
/*    transition: .3s ease;*/
/*}*/
.buttonedLabel {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    border-radius: var(--border-rad) var(--border-rad) 0 0;
    background-color: var(--bg-clr-select_header);
}
.buttonRow {
    display: flex;
    padding: 2px 0;
    background: #fff;
    justify-content: space-evenly;
}
button {
    margin: .5rem 1rem;
}
.buttonRow input {
    background: radial-gradient(ellipse farthest-side at center center, #ffffff 50%, #f1f1f1 160%);
    height: 24px;
    width: 5rem;
    margin: 2px 0 0 0;
    border-radius: 1rem;
    box-shadow: var(--button-shadow);
    cursor: pointer;
}
label {
    color: white;
}
.darkmode {
    width: 50px;
    height: 25px;
    margin: .5rem;
    position: relative;
    display: block;
    background: rgba(0 0 0 / 0);
    border-radius: 200px;
    box-shadow: inset 0 5px 15px rgba(0 0 0 / .4), inset 0 -1px 1px rgba(255 255 255 / .4);
    cursor: pointer;
    transition: .3s;
}
.darkmode:after {
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, rgb(167, 214, 214), var(--mcr-cyan));
    border-radius: 23px;
    box-shadow: 0 2px 2px rgba(0 0 0 / .2);
    transition: .3s;
}
.darkmode svg {
    position: absolute;
    top: 3px;
    z-index: 50
}
.darkmode svg.sun {
    left: 3px;
    stroke: #000;
}
.darkmode svg.moon {
    left: 28px;
    stroke: #aeaeae;
}
#darkmode-toggle:checked + .darkmode svg.sun {
    stroke: #aeaeae;
}
#darkmode-toggle:checked + .darkmode svg.moon {
    stroke: #000;
}
.buttonedLabel input {
    height: 0;
    width: 0;
    visibility: hidden;
}
.buttonedLabel input:checked + .darkmode:after {
    left: 48px;
    transform: translateX(-100%);
}
.darkmode:active:after {
    width: 32px;
}
.artput {
}
.autoscroll {overflow: auto
}
.asciiOut {
    display: flex;
    overflow: hidden;
    margin: 0;
    height: 20rem;
    padding: 1rem;
    line-height: 1;
    width: auto;
    font-size: clamp(.8vw, .8rem + 1vw, 1.2vw);
    color: dimgrey;
    background: #fff;
    transition: .3s ease;
}
.asciiOutDark {
    overflow: hidden;
    margin: 0;
    height: 20rem;
    padding: 1rem;
    line-height: 1;
    width: auto;
    color: #8c8c8c;
    background: #272727;
    transition: .3s ease;
}
.justifyBlock {
    background: #fff;
    color: dimgray;
    /*position: absolute;*/
    /*left: 25px;*/
}
.artsays {
    border-radius: 0 !important;
}
.toggle {
    background-color: #fff;
    border: solid var(--bg-clr-select_header);
    border-width: 1px 0 1px 0;
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
    height: 4rem;
    padding: .5rem;
}
.modifiers {
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.smaller {
    width: 100%;
}
.radio {
    display: block;
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
    font-size: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: dimgray;
}
.radio input {
    position: absolute;
    /*display: inline-flex;*/
    opacity: 0;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    /*margin: 0;*/
}
/* colours for colorized text */
.red {
    background-color: var(--red);
}
.colorRed {
    color: var(--red);
}
.green {
    background-color: var(--green);
}
.colorGreen {
    color: var(--green);
}
.blue {
    background-color: var(--blue);
}
.colorBlue {
    color: var(--blue);
}
.yellow {
    background-color: var(--yellow);
}
.colorYellow {
    color: var(--yellow);
}
.orange {
    background-color: orange;
}
.colorOrange {
    color: orange;
}
.left {
    background-image: url("../icons/align-left.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.right {
    background-image: url("../icons/align-right.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.center {
    background-image: url("../icons/align-center.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.justify {
    background-image: url("../icons/align-justify.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    /*display: inline-flex;*/
    height: 3rem;
    width: 3rem;
    border-radius: var(--button-rad);
    /*border: 1px solid var(--bg-clr-select_header) ;*/
}
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
    /*display: inline-flex;*/
    height: 3rem;
    width: 3rem;
    border-radius: var(--button-rad);
    /*border: 1px solid var(--bg-clr-select_header) ;*/
}
.checkmark2:hover {
    opacity: 1;
}
.checkmark2:hover:after {
    position: absolute;
    top: 0;
    left: -5rem;
    content: "Content must be left justified when using the colour option";
    text-align: justify;
    background: white;
    font-size: small;
    height: 4rem;
    width: 20rem;
    padding: .5rem;
    border-radius: var(--border-rad);
    border: outset 1px rgba(0 0 0 / .4);
    box-shadow: var(--button-hover-shadow);
    z-index: 100;
}
/*.checkmark2:after {*/
/*    opacity: 1;*/
/*}*/
.radio input:hover ~ .checkmark {
    opacity: 1;
}
.radio input:checked ~ .checkmark {
    opacity: 1;
    border: 1px solid rgb(0 0 0 / .04);
}
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.radio input:checked ~ .checkmark::after {
    display: block;
}
.radio .checkmark::after {
    top: 0;
    transform: translateX(-2%) translateY(-3%);
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: var(--button-rad);
    background: rgba(255,255,255,0);
    -webkit-box-shadow: var(--button-pressed-shadow);
    -moz-box-shadow: var(--button-pressed-shadow);
    box-shadow: var(--button-pressed-shadow);
}
#colorPicker {
    display: flex;
    flex-direction: column;
}
#upload {
    flex-direction: column;
}

/* submit button */
#submit-reverse {
    background-color: #fff;
    margin: 1rem;
    border: 1px solid var(--border-clr);
    border-radius: var(--border-rad);
}
#submit-reverse:hover {
    cursor: pointer;
    box-shadow: var(--button-hover-shadow);

}
#drop_zone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    font-size: var(--font-sz-cards);
    background-color: #fff;
    background-image: url("../icons/upload.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dashed var(--bg-clr-select_header);
}
#drop_zone.active {
    border: 0;
    background-color: rgba(255, 127, 127, 0.51);
}
#drop_zone.dropped {
    background-color: #fff;
}
#drop_zone span {
    padding: 5rem 0;
    color: dimgray;
}
#drop_zone .button {
    padding: 5rem 1rem;
    color: #5074b5;
    cursor: pointer;
}
#drop_zone p a:hover {
    color: black;
}
#drop_zone input {
    cursor: pointer;
}
#text_input {
    width: 100%;
    border-radius: var(--border-rad);
}
#color-txt {
    font-size: var(--font-sz-cards);
    padding: .5rem 1rem;
}

@media only screen and (max-width: 600px) {
    .frontpage {
        height: 100%;
        scroll-snap-align: start;
    }
    .frosted {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    form, .form {
        width: 95%;
        display: grid;
    }
    #gopher {
        display: none;
    }
}
@media only screen and (min-width: 601px) {
    body {
        width: 95%;
        margin: 0 auto;
    }
    .frontpage {
        height: 95%;
        scroll-snap-align: start;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }
    .frosted {
        display: flex;
        align-items: start;
        justify-content: center;
    }
    form, .form {
        width: 95%;
    }
    #gopher {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
      .elements {
          display: grid;
          /*grid-template-columns: 4fr 4fr 4fr;*/
          grid-template-rows: 4fr 6fr 1fr;
          gap: 2rem 0;
          grid-template-areas:
          "mod"
          "art"
          "foot";
          justify-items: center;
          align-items: center;
      }
      #options {
          display: none;
      }
      .modifiers {
          width: 100%;
          grid-area: mod;
          display: grid;
          height: 100%;
          grid-template-columns: 4fr 4fr 4fr;
          /*grid-template-rows: 4fr 7fr .5fr;*/
          gap: 2rem;
          grid-template-areas:
          "gen col up";
          /*justify-items: center;*/
          justify-content: space-between;
          align-items: start;
      }
      #generator {
          grid-area: gen;
          /*width: 100%*/
      }
      #colorPicker {
          grid-area: col;
          /*width: 100%*/
      }
      #upload {
          grid-area: up;
          z-index: 0;
          /*width: 100%*/
      }
      #gopher {
          grid-area: up;
          display: flex;
          flex-direction: column;
          z-index: 1;
      }
      #gopher div {
          display: flex;
          margin: 1rem 0;
          height: 13.2rem;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          background: #fff;
          border: 2px dashed var(--bg-clr-select_header);
      }
      #gopher pre {
          color: dimgray;
          justify-content: center;
          font-size: var(--font-sz-ascii);
      }

      #asciiout {
          grid-area: art;
          height: 100%;
          /*max-width: 100%;*/
          /*flex-grow: 0;*/
      }
      /*.artput {*/
      /*    font-size: clamp(1rem, -2.5556rem + 7.4074vw, 3rem);*/
      /*}*/
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1080px) {
  .about {
      margin-left: 2.5rem;
  } 
}