<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/andy_bell-css_reset.css">
</head>
<body>
    <div class="wrapper">
        <section class="frontpage">
            <main>
                <h1 >ASCII Art Generator</h1>
                <article class="frosted">
                    <div class="elements">
                         <form action="" id="options">
                            <div class="card">
                                <div class="label">
                                    <label for="function">What would you like to do?</label>
                                </div>
                                <div class="select">
                                    <select name="banner" id="function">
                                        <option class="item" value="standard" id="standardise" selected>Convert text to ASCII art</option>
                                        <option class="item" value="color" id="colorize">Colourise the output</option>
                                        <option class="item" value="output" id="output">Export to file</option>
                                        <option class="item" value="reverse" id="reverse">Get text from file</option>
                                    </select>
                                    <span class="focus"></span>
                                </div>
                            </div>
                        </form>
                        <div class="modifiers">
                        <form action="" id="color" class="smaller">
                            <div class="card">
                                <div class="label">Choose your colour
                                </div>
                                <div class="toggle">
                                    <label class="radio">
                                        <input type="radio" id="red" name="radio">
                                        <span class="checkmark red"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="green" name="radio">
                                        <span class="checkmark green"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="blue" name="radio">
                                        <span class="checkmark blue"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="yellow" name="radio">
                                        <span class="checkmark yellow"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="orange" name="radio">
                                        <span class="checkmark orange"></span>
                                    </label>
                                </div>
                                    <div class="select">
                                        <label class="" for="color-txt"></label>
                                        <input id="color-txt" name="colour-text"
                                               value="Enter specific letters to colourise (optional)">
                                    </div>
                            </div>
                        </form>
                    <div class="form smaller" id="upload">
                        <div class="card">
                            <div class="label">
                                <label class="" for="browse">Upload your file</label>
                            </div>
                            <div id="drop_zone">
                                <span class="dragText">drag and drop your file, or</span>
                                <span class="button">browse</span>
                                <input type="file" id="browse" hidden />
                            </div>
                            <div class="label artsays">Your art says:</div>
                            <div class="select textarea" id="reverse-output">your\ntext</div>
                        </div>
                    </div>
                    <div id="generator" class="smaller">
                        <form action="" class="smaller">
                            <div class="card">
                                <div class="label">
                                    <label for="banner">Choose your style</label>
                                </div>
                                <div class="select">
                                    <select name="banner" id="banner">
                                        <option class="item" value="standard" id="standard" selected>Standard</option>
                                        <option class="item" value="shadow" id="shadow">Shadow</option>
                                        <option class="item" value="thinkertoy" id="thinkertoy">Thinkertoy</option>
                                    </select>
                                </div>
<!--                                <div class="label">-->
<!--                                    <label class="" for="generate">Enter your text</label>-->
<!--                                </div>-->
                                <div class="toggle" id="alignment">
                                    <label class="radio">
                                        <input type="radio" id="left" name="radio" checked>
                                        <span class="checkmark left"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="right" name="radio">
                                        <span class="checkmark right"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="center" name="radio">
                                        <span class="checkmark center"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="justify" name="radio">
                                        <span class="checkmark justify"></span>
                                    </label>
                                </div>
                                <div class="select ">
                                    <label class="" for="generate"></label>
                                    <input id="generate" name="generate"
                                           value="Enter your text">
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                        <div class="card output" id="asciiout">
                            <div class="label">Your art:</div>
                            <div class="select textarea artput" id="ascii-output">your\ntext</div>
                        </div>
                    </div>
                </article>
            </main>
        </section>
    </div>
    <script type="text/javascript" src="../js/default.js"></script>
</body>
</html>