<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/andy_bell-css_reset.css">
</head>
<body>
    <div class="wrapper">
        <section class="frontpage">
            <main>
                <article class="frosted">
                    <h1 >ASCII Art Generator</h1>
                        <form action="">
                            <div class="card">
                                <div class="label">
                                    <label for="function">What would you like to do?</label>
                                </div>
                                <div class="select">
                                    <select name="banner" id="function">
                                        <option class="item" value="standard" selected>Convert text to ASCII art</option>
                                        <option class="item" value="color">Colourise the output</option>
                                        <option class="item" value="output">Export to file</option>
                                        <option class="item" value="align">Align the text</option>
                                        <option class="item" value="reverse">Get text from file</option>
                                    </select>
                                    <span class="focus"></span>
                                </div>
                            </div>
                        </form>
                        <form action="">
                            <div class="card">
                                <div class="label">Choose your colour
                                </div>
                                <div class="toggle">
                                    <label class="radio">
                                        <input type="radio" id="red" name="radio">
                                        <span class="checkmark red"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="green" name="radio">
                                        <span class="checkmark green"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="blue" name="radio">
                                        <span class="checkmark blue"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="yellow" name="radio">
                                        <span class="checkmark yellow"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="orange" name="radio">
                                        <span class="checkmark orange"></span>
                                    </label>
                                </div>
                                    <div class="select">
                                        <label class="" for="color-txt"></label>
                                        <input id="color-txt" name="colour-text"
                                               value="Enter specific letters to colourise (optional)">
                                    </div>
                            </div>
                        </form>
                        <form action="">
                            <div class="card">
                                <div class="label">
                                    <label for="banner">Choose your style</label>
                                </div>
                                <div class="select">
                                    <select name="banner" id="banner">
                                        <option class="item" value="standard">Standard</option>
                                        <option class="item" value="shadow">Shadow</option>
                                        <option class="item" value="thinkertoy">Thinkertoy</option>
                                    </select>
                                    <span class="focus"></span>
                                </div>
                            </div>
                        </form>
                    <form action="">
                        <div class="card">
                            <div class="label">
                                <label class="" for="upload">Upload your file</label>
                            </div>
                            <div id="drop_zone" ondrop="dropHandler(event);">
                                <p>drag and drop your file, or <a href="">choose file</a> here</p>
<!--                                <input type="file" id="upload" name="filename">-->
<!--                                <input type="submit" id="submit-reverse">-->
                            </div>
                        </div>
                        <div class="label">Your art says:</div>
                        <div class="select textarea" id="reverse-output">your\ntext</div>
                    </form>
                        <form action="">
                            <div class="card">
                                <div class="label">
                                    <label class="" for="generate">Enter your text</label>
                                </div>
                                <div class="toggle">
                                    <label class="radio">
                                        <input type="radio" id="left" name="radio">
                                        <span class="checkmark left"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="right" name="radio">
                                        <span class="checkmark right"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="center" name="radio">
                                        <span class="checkmark center"></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="justify" name="radio">
                                        <span class="checkmark justify"></span>
                                    </label>
                                </div>
                                <div class="select textarea">
                                    <input id="generate" name="generate"
                                           value="">
                                </div>
                            </div>
                            <div class="ascii">----------------------------------------------------
                            </div>
                            <div class="label">Your art:</div>
                            <div class="select textarea artput" id="ascii-output">your\ntext</div>
                        </form>
                </article>
            </main>
        </section>
    </div>
</body>
</html>